In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv("/Users/yangshining/Desktop/internnnnn/IFC_summer_intern/IFC_intern_Shining/mapping_project/South Africa/Death/2015_deanths_raw.csv")
df.head()

,measure_id,measure_name,location_id,location_name,sex_id,sex_name,age_id,age_name,cause_id,cause_name,metric_id,metric_name,year,val,upper,lower
0,1,Deaths,196,South Africa,1,Male,5,1-4 years,294,All causes,3,Rate,2015,200.806935,269.589962,147.156228
1,1,Deaths,196,South Africa,2,Female,5,1-4 years,294,All causes,3,Rate,2015,133.175978,164.586713,107.328521
2,1,Deaths,196,South Africa,1,Male,6,5-9 years,294,All causes,3,Rate,2015,97.086010,108.417022,87.332416
3,1,Deaths,196,South Africa,2,Female,6,5-9 years,294,All causes,3,Rate,2015,72.584023,79.552184,66.510133
4,1,Deaths,196,South Africa,1,Male,7,10-14 years,294,All causes,3,Rate,2015,89.150114,95.208851,83.433028

In [3]:
df["age_name_digits1"] = df.age_name.str.split('-',expand=True)[0]
df["age_name_digits2"] = df.age_name.str.split('-',expand=True)[1]
df["age_name_digits2"] = df.age_name_digits2.str.split(' ',expand=True)[0]
df["age_name_new"] = df["age_name_digits1"] + ' to ' + df["age_name_digits2"]
df["age_name"] = np.where(df["age_name"]== "80+ years", "80 plus", df["age_name_new"])
df["age_name"] = np.where(df["age_name"].isnull(), "<1 year", df["age_name"])

In [4]:
df = df.iloc[:, :-3].copy()
df

,measure_id,measure_name,location_id,location_name,sex_id,sex_name,age_id,age_name,cause_id,cause_name,metric_id,metric_name,year,val,upper,lower
0,1,Deaths,196,South Africa,1,Male,5,1 to 4,294,All causes,3,Rate,2015,200.806935,269.589962,147.156228
1,1,Deaths,196,South Africa,2,Female,5,1 to 4,294,All causes,3,Rate,2015,133.175978,164.586713,107.328521
2,1,Deaths,196,South Africa,1,Male,6,5 to 9,294,All causes,3,Rate,2015,97.086010,108.417022,87.332416
3,1,Deaths,196,South Africa,2,Female,6,5 to 9,294,All causes,3,Rate,2015,72.584023,79.552184,66.510133
4,1,Deaths,196,South Africa,1,Male,7,10 to 14,294,All causes,3,Rate,2015,89.150114,95.208851,83.433028
5,1,Deaths,196,South Africa,2,Female,7,10 to 14,294,All causes,3,Rate,2015,71.014703,74.534516,67.835681
6,1,Deaths,196,South Africa,1,Male,8,15 to 19,294,All causes,3,Rate,2015,202.532446,225.053697,184.933723
7,1,Deaths,196,South Africa,2,Female,8,15 to 19,294,All causes,3,Rate,2015,162.553117,208.579211,139.961876
8,1,Deaths,196,South Africa,1,Male,9,20 to 24,294,All causes,3,Rate,2015,365.352197,388.577061,350.772991
9,1,Deaths,196,South Africa,2,Female,9,20 to 24,294,All causes,3,Rate,2015,302.073845,406.406233,250.091053
10,1,Deaths,196,South Africa,1,Male,10,25 to 29,294,All causes,3,Rate,2015,560.149163,651.893311,521.381305
11,1,Deaths,196,South Africa,2,Female,10,25 to 29,294,All causes,3,Rate,2015,515.154074,716.562296,416.350874
12,1,Deaths,196,South Africa,1,Male,11,30 to 34,294,All causes,3,Rate,2015,847.273585,1048.874068,755.361149
13,1,Deaths,196,South Africa,2,Female,11,30 to 34,294,All causes,3,Rate,2015,748.805880,1006.444894,604.524920
14,1,Deaths,196,South Africa,1,Male,12,35 to 39,294,All causes,3,Rate,2015,1121.927547,1436.135536,969.715549
15,1,Deaths,196,South Africa,2,Female,12,35 to 39,294,All causes,3,Rate,2015,886.259535,1177.703946,730.176368
16,1,Deaths,196,South Africa,1,Male,13,40 to 44,294,All causes,3,Rate,2015,1395.041434,1728.553670,1205.320342
17,1,Deaths,196,South Africa,2,Female,13,40 to 44,294,All causes,3,Rate,2015,967.917723,1210.703521,819.379803
18,1,Deaths,196,South Africa,1,Male,14,45 to 49,294,All causes,3,Rate,2015,1609.554073,1938.218478,1412.694193
19,1,Deaths,196,South Africa,2,Female,14,45 to 49,294,All causes,3,Rate,2015,1024.008074,1212.362375,895.961832
20,1,Deaths,196,South Africa,1,Male,15,50 to 54,294,All causes,3,Rate,2015,2013.477097,2256.494990,1842.245395
21,1,Deaths,196,South Africa,2,Female,15,50 to 54,294,All causes,3,Rate,2015,1204.019001,1351.182115,1093.058695
22,1,Deaths,196,South Africa,1,Male,16,55 to 59,294,All causes,3,Rate,2015,2437.012859,2614.682501,2298.971903
23,1,Deaths,196,South Africa,2,Female,16,55 to 59,294,All causes,3,Rate,2015,1433.786338,1555.769788,1342.069858
24,1,Deaths,196,South Africa,1,Male,17,60 to 64,294,All causes,3,Rate,2015,3223.439052,3373.926331,3096.175799
25,1,Deaths,196,South Africa,2,Female,17,60 to 64,294,All causes,3,Rate,2015,1881.007350,1979.836864,1807.286133
26,1,Deaths,196,South Africa,1,Male,18,65 to 69,294,All causes,3,Rate,2015,4284.707836,4439.989819,4149.236752
27,1,Deaths,196,South Africa,2,Female,18,65 to 69,294,All causes,3,Rate,2015,2640.458109,2728.656404,2567.464973
28,1,Deaths,196,South Africa,1,Male,19,70 to 74,294,All causes,3,Rate,2015,5366.280432,5533.954404,5216.438434
29,1,Deaths,196,South Africa,2,Female,19,70 to 74,294,All causes,3,Rate,2015,3663.497498,3751.569718,3586.698953
30,1,Deaths,196,South Africa,1,Male,20,75 to 79,294,All causes,3,Rate,2015,7391.657350,7579.113208,7212.698570
31,1,Deaths,196,South Africa,2,Female,20,75 to 79,294,All causes,3,Rate,2015,5278.209802,5384.580268,5182.364336
32,1,Deaths,196,South Africa,1,Male,21,80 plus,294,All causes,3,Rate,2015,15631.303378,15831.076657,15416.564089
33,1,Deaths,196,South Africa,2,Female,21,80 plus,294,All causes,3,Rate,2015,13853.123359,13990.738290,13714.322835
34,1,Deaths,196,South Africa,1,Male,28,<1 year,294,All causes,3,Rate,2015,4219.356124,5338.682782,3368.057341
35,1,Deaths,196,South Africa,2,Female,28,<1 year,294,All causes,3,Rate,2015,3276.080582,4042.368476,2652.738160

In [5]:
df.to_csv("/Users/yangshining/Desktop/internnnnn/IFC_summer_intern/IFC_intern_Shining/mapping_project/South Africa/Death/zaf_death_data_by_age_and_sex_2015.csv")